# Default ignored files
/workspace.xml
/usage.statistics.xml
/tasks.xml
/gradle.xml
/sonarlint/
/libraries/
/modules.xml
/artifacts
/shelf
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/php.xml
